@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url(/asset/one.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

header figure {
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

header figure img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 24px;
  text-shadow:
    2px 2px 4px red,
    -2px -2px 4px orange,
    0 0 6px blue;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.game-link {
  text-decoration: none;
}

.game-link button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 300px;
  height: 55px;
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.2s ease-in-out;
}

.game-link button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

 @media (max-width: 600px) {
    body {
      background-attachment: scroll; /* menghindari masalah saat scroll */
      background-size: cover;
      background-position: center center;
    }
  }

button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
}
